<ion-header>
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total = {{realTotal}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>

        <form [formGroup]="typeOffForm" (ngSubmit)="typeOff(typeOffForm.value)">
          <ion-item>
            <ion-label>
              Descuento
            </ion-label>
            <span>%</span><ion-input formControlName="off" type=number>
            </ion-input>
          </ion-item>

          <ion-button type="submit" expand="full" [disabled]="!typeOffForm.valid || expenses.off > 0">Agregar descuento</ion-button>
          <ion-button expand="full" [disabled]="off == 0" (click)="clearTypeOff()">Deshacer descuento</ion-button>
        </form>

      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-grid *ngFor="let product of this.expenses.products">
    <ion-row>
      <ion-col size="6">
        {{product.price}}
      </ion-col>
      <ion-col>
        {{product.description}}
      </ion-col>
    </ion-row>
  
  </ion-grid>


  <form [formGroup]="expensesForm" (ngSubmit)="addExpenses(expensesForm.value)">

    <ion-item>
      <ion-label>
        Precio
      </ion-label>
      <ion-input formControlName="price" type=number>

      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Descripción
      </ion-label>
      <ion-input formControlName="description">
      </ion-input>
    </ion-item>

    
    <ion-button type="submit" expand="full" [disabled]="!expensesForm.valid">Cargar</ion-button>
    <ion-button expand="full" [disabled]="total == 0" (click)="saveExpenses()">Guardar</ion-button>
  </form>
</ion-content>
