<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Finance Traking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Finance Traking</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Total</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <h1>{{total}}</h1>
      </ion-card-content>
    </ion-card>

    <ion-button (click)="goToExpenses()">Gastos</ion-button>
    <ion-button>Ingresos</ion-button>
  </div>
</ion-content>
