<ion-header>
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="reload" (click)="ngOnInit()"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>

        <form [formGroup]="createExpensesForm" (ngSubmit)="createExpenses(createExpensesForm.value)">
          <ion-item>
            <ion-label>
              Nombre
            </ion-label>
            <ion-input formControlName="name" type="text">
            </ion-input>
          </ion-item>

          <ion-button type="submit" expand="full" [disabled]="!createExpensesForm.valid">Crear lista de gastos</ion-button>
        </form>

      </ion-card-title>
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let expenses of expensesList; let i = index">
    <ion-item>

      <ion-card-header (click)="goToExpenses(expenses.name)">
        <ion-card-title>{{expenses.name}}</ion-card-title>
      </ion-card-header>
      <ion-button slot="end" (click)="delete(i)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      
    </ion-item>
  </ion-card>

</ion-content>
